@model VictuzWeb.ViewModels.LoginViewModel

@{
    ViewData["title"] = "Inloggen";
}

<form asp-action="Login" method="post">
    <div>
        <label>Gebruikersnaam:</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label>Wachtwoord:</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Inloggen</button>

</form>
<a asp-action="Register">Registreren</a>

