@{
    ViewData["Title"] = "Home Page";
}

<section class="landing">
    <h1 class="animate__animated animate__fadeIn home_title">Victuz</h1>
    <p class="animate__animated animate__fadeIn home_subtitle">Verenigde ICT'ers Uit Zuyd Limburg</p>
</section>
